.idea
*.log
*.iml
.project
.settings
.classpath
scn-logtime-plugin/target
scn-mytime-gadget-plugin/target
scn-clone-project-plugin/target
scn-timesheet-plugin/target
scn-worklog-plugin/target
scn-automation-plugin/target/
scn-front/target/
scn-integration-plugin/target/
common/target/
node_modules/
scn-front/node/
compiled-front/
