.idea
*.log
*.iml
.project
.settings
.classpath
scn-logtime-plugin/target
scn-mytime-gadget-plugin/target
scn-clone-project-plugin/target
scn-timesheet-plugin/target
scn-worklog-plugin/target
scn-automation-plugin/target/
scn-plugins-frontend/target/
node_modules/
scn-plugins-frontend/node/
