#if ($hasData == true)
    #macro (renderGraph $model)
        #if ($model && $model.getRows().isEmpty() == false && $model.isTotalZero() == false)
            #foreach ($row in $model.getRows())
                #if ($model.getPercentage($row) != 0)
                <td style="width:${model.getPercentage($row)}%; background-color:${row.getColor()}" >
                    <img src="${baseurl}/images/border/spacer.gif" style="height:10px; width:100%; border-width:0" class="hideOnPrint" title="${row.description}" alt="${row.description}" >
                </td>
                #end
            #end
        #else
            <td style="width:100%; background-color:#f0f0f0;"><img src="${baseurl}/images/border/spacer.gif" style="height:10px; width:100%; border-width:0" alt="" /></td>
        #end
    #end

    #macro (renderSection $name $sectionName $labelKey $tooltip $estimateStr $graph)
    <dl>
        <dt id="$!{scn}${name}_text_${sectionName}" class="tt_text" title="${tooltip}">
            $i18n.getText($labelKey)#if($scn == "scn_")*#end:
        </dt>
        <dd id="$!{scn}${name}_values_${sectionName}" class="tt_values" title="${tooltip}">
            #if ($estimateStr)
                $estimateStr
            #else
                $i18n.getText('viewissue.timetracking.unknown')
            #end
        </dd>
        <dd class="tt_graph">
            <table id="$!{scn}${name}_graph_${sectionName}" cellspacing="0" cellpadding="0" class="tt_graph" >
                <tr class="tt_graph">
                    #renderGraph($graph)
                </tr>
            </table>
        </dd>
    </dl>
    #end

    #macro (renderInfo $name $graphBean)
        <div id="$!{scn}${name}_table_info" class="tt_inner">
            #if ($graphBean.hasData() == false)
                <h4>$i18n.getText('viewissue.timetracking.unknown')</h4>
            #else
                #renderSection($name 'orig' 'viewissue.timetracking.estimated' $graphBean.getOriginalEstimateTooltip() $graphBean.getOriginalEstimateStr() $graphBean.getOriginalEstimateGraph())
                #renderSection($name 'remain' 'viewissue.timetracking.remaining' $graphBean.getRemainingEstimateTooltip() $graphBean.getRemainingEstimateStr() $graphBean.getRemainingEstimateGraph())
                #renderSection($name 'spent' 'viewissue.timetracking.logged' $graphBean.getTimeSpentTooltip() $graphBean.getTimeSpentStr() $graphBean.getTimeSpentGraph())
            #end
        </div>
    #end

    #if ($aggregateTimeTrackingGraphBean || $aggregateTimeTrackingGraphBeanWithTasks || $aggregateTimeTrackingGraphBeanWithTasksAndSubtasks)
        <div id="$!{scn}tt_info_single" style="display:none" class="$!{scn}graph">
            #renderInfo ('tt_single' $timeTrackingGraphBean)
        </div>
    	<div id="$!{scn}tt_info_aggregate" class="$!{scn}graph">
            #renderInfo ('tt_aggregate' $aggregateTimeTrackingGraphBean)
        </div>
        <div id="$!{scn}tt_info_with_tasks" style="display:none;" class="$!{scn}graph">
            #renderInfo ('tt_with_tasks' $aggregateTimeTrackingGraphBeanWithTasks)
        </div>
        <div id="$!{scn}tt_info_with_tasks_and_subtasks" style="display:none;" class="$!{scn}graph">
            #renderInfo ('tt_with_tasks_and_subtasks' $aggregateTimeTrackingGraphBeanWithTasksAndSubtasks)
        </div>

        #if ($isEpicIssue)
            <div id="$!{scn}tt_include_tasks" title="${i18n.getText('scn.scnworklog.customfield.timetracking.include.tasks.tooltip')}">
                <input id="$!{scn}cb_include_tasks" type="checkbox"/><label for="$!{scn}cb_include_tasks" style="margin-left: 0.5em;">${i18n.getText('scn.scnworklog.customfield.timetracking.include.tasks')}</label>
            </div>
        #end

        <div id="$!{scn}tt_include_subtasks" title="${i18n.getText('timetracking.include.subtasks.tooltip')}">
            <input id="$!{scn}cb_include_subtasks" type="checkbox" checked /><label for="$!{scn}cb_include_subtasks" #if($scn)style="margin-left: 0.5em;"#end>${i18n.getText('timetracking.include.subtasks')}</label>
        </div>

        #if ($isEpicIssue)
            <script language="JavaScript">
                jQuery(function () {
                    jQuery("#$!{scn}tt_include_tasks input").click(function(e){
                        jQuery(".$!{scn}graph").hide();
                        if (jQuery(this).is(":checked") && jQuery("#$!{scn}tt_include_subtasks input").is(":checked")){
                            jQuery("#$!{scn}tt_info_with_tasks_and_subtasks").show();
                        } else if (jQuery(this).is(":checked") && !jQuery("#$!{scn}tt_include_subtasks input").is(":checked")) {
                            jQuery("#$!{scn}tt_info_with_tasks").show();
                        } else if (!jQuery(this).is(":checked") && jQuery("#$!{scn}tt_include_subtasks input").is(":checked")) {
                            jQuery("#$!{scn}tt_info_aggregate").show();
                        } else {
                            jQuery("#$!{scn}tt_info_single").show();
                        }
                    });

                    jQuery("#$!{scn}tt_include_subtasks input").click(function(e){
                        jQuery(".$!{scn}graph").hide();
                        if (jQuery(this).is(":checked") && jQuery("#$!{scn}tt_include_tasks input").is(":checked")){
                            jQuery("#$!{scn}tt_info_with_tasks_and_subtasks").show();
                        } else if (jQuery(this).is(":checked") && !jQuery("#$!{scn}tt_include_tasks input").is(":checked")) {
                            jQuery("#$!{scn}tt_info_aggregate").show();
                        } else if (!jQuery(this).is(":checked") && jQuery("#$!{scn}tt_include_tasks input").is(":checked")) {
                            jQuery("#$!{scn}tt_info_with_tasks").show();
                        } else {
                            jQuery("#$!{scn}tt_info_single").show();
                        }
                    });
                });
            </script>
        #else
            <script language="JavaScript">
                jQuery(function () {
                    jQuery("#$!{scn}tt_include_subtasks input").click(function(e){
                        if (jQuery(this).is(":checked")){
                            jQuery("#$!{scn}tt_info_single").hide();
                            jQuery("#$!{scn}tt_info_aggregate").show();
                        } else {
                            jQuery("#$!{scn}tt_info_aggregate").hide();
                            jQuery("#$!{scn}tt_info_single").show();
                        }
                    });
                });
            </script>
        #end
    #else
        #renderInfo ('tt_single' $timeTrackingGraphBean)
    #end
#end

