#if($scnVisible) 
	#if($legacyBehaviour)
        #customControlHeader ($action $fieldId "$i18n.getText($fieldName)*" $fieldLayoutItem.required $displayParameters $auiparams)
        <input class="text short-field" id="$fieldId" name="$fieldId" type="text" value="$!{value}" />
        <span class="aui-form example">${i18n.getText('logwork.example', '3w 4d 12h')}</span>
        #jiraHelpLink ('timetracking_local' '')
        #customControlFooter ($action $fieldId $i18n.getText($description) $displayParameters $auiparams)
	#else
	    ## Original Estimate
	    #set($originalEstimateId = "${customField.id}:originalEstimate")
	    #customControlHeader ($action "$originalEstimateId" "$i18n.getText('common.concepts.original.estimate')*" $fieldLayoutItem.required $displayParameters $auiparams)
		    <input class="text short-field" id="$originalEstimateId" name="$originalEstimateId" type="text" value="$!{value.originalEstimate}"/>
		    <span class="aui-form example">${i18n.getText('logwork.example', '3w 4d 12h')}</span>
	    	#jiraHelpLink ('timetracking_local' '')
	    #customControlFooter ($action "$originalEstimateId" $i18n.getText("timetracking.field.original.estimate.description") $displayParameters $auiparams)
	    
	    ## Remaining Estimate
	    #set($remainingEstimateId = "${customField.id}:remainingEstimate")
	    #customControlHeader ($action "$remainingEstimateId" "$i18n.getText('common.concepts.remaining.estimate')*" $fieldLayoutItem.required $displayParameters $auiparams)
		    <input class="text short-field" id="$remainingEstimateId" name="$remainingEstimateId" type="text" value="$!{value.remainingEstimate}"/>
		    <span class="aui-form example">${i18n.getText('logwork.example', '3w 4d 12h')}</span>
		    #jiraHelpLink ('timetracking_local' '')
	    #customControlFooter ($action "$remainingEstimateId" $i18n.getText("timetracking.field.remaining.estimate.description") $displayParameters $auiparams)
	#end
#end