<html lang="en">
<head>
    <title>Worklog Backup</title>
    <meta name="decorator" content="atl.general"/>
    <style>
        input:focus {
            outline-style: hidden !important;
            box-shadow: 0 0 0 0 white !important;
        }
    </style>
</head>
<body>
<div id="scn-automation-root"></div>
</body>
</html>
